[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
pandas = "*"
pandas-ta = "*"
requests = "*"
termcolor = "*"
tabulate = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
